@import "../styles.scss";


.all {
  background-color: var(--bg-color);
}


main{
  position: relative;
}
nav {
  z-index: 100;
  width: 100%;
  position: absolute;
  // backdrop-filter: blur(3px);
  border: none;

  ul {
    padding: 0;
  }

  ul li {
    list-style: none;
    font-size: clamp(1rem, 0.125rem + 2vw, 1.25rem);
    padding: 10px;
  }

  a {
    display: block;
    position: relative;
    padding: 0.2em 0;

    color: var(--text-color);
    text-decoration: none;
    transition-duration: 200ms;
  }
}

#nav-container {
  display: flex;
  /*   width:600px; */
  justify-content: space-around;
  margin: auto;
  font-weight: 200;
  z-index: 1;
}


nav a:hover::after,
nav a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

nav a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: var(--accent-color);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

#nav-container ul {
  display: flex;
}