/* You can add global styles to this file, and also import other style files */
body{
  margin: 0;
}

main{
  position: relative;
}

html{
  font-family: 'Noto Sans Display', sans-serif;
  scroll-behavior: smooth;
  width: 100%;
}

$light-accent-color: #46C6C6;
$light-bg-color:rgb(212, 247, 252);
$light-text-color: rgb(46, 46, 46);


$dark-accent-color: #00cece;
$dark-bg-color:rgb(45, 44, 44);
$dark-text-color: rgb(227, 227, 227);

html[data-theme='dark']{
  --accent-color: #{$dark-accent-color};
  --bg-color:#{$dark-bg-color};
  --text-color: #{$dark-text-color};
}

html[data-theme='light']{
  --accent-color: #{$light-accent-color};
  --bg-color:#{$light-bg-color};
  --text-color: #{$light-text-color};
}